*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-image: linear-gradient(rgba(0,0,40,0.3),rgba(0,0,40,0.3)),url(/home/z0406@ad.ziffity.com/Documents/Assesment/pexels-photo-235731.jpeg);
    background-position: center;
    background-size: cover;
}
.form_box {
    /* border:2px solid dashed; */
    background-color:transparent;
    width: 90%;
    max-width: 450px;
    margin-top: 200px;
    /* height: 250px; */
    padding:50px 60px 70px;
    /* border-radius:10px ; */
    font-size: 100%;
    background: transparent;
    /* position: absolute; */
    text-align: center;
}
.container .header h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 225, 0, 0.871);
}
.container .header p{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(224, 221, 63);
}
.container .header{
    padding-top: 40px;
}
.form_box h2{
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(255, 187, 0);
}
.inputfield{
    background: rgba(183, 183, 183, 0.852);
    margin: 30px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border-radius: 40px;
 
}
input{
    background: transparent;
    width: 100%;
    padding: 18px 15px;
    border: 0;
    outline: 0;
}
.inputfield i{
    margin-left: 15px ;
}
.form_box p{
    margin: 15px 10px;
    text-align: left;
    font-size: 15px;
    color: aliceblue;
    
}
.form_box p a{
    text-decoration: none;
    color: aqua;
}
.btnfield{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.btnfield button{
    width:100%;
    padding: 10px 15px;
    /* color: whitesmoke; */
    border-radius: 50px;
    margin: 10px 8px;
    background-color: rgba(255, 225, 0, 0.871);
    border: 0;
    font-size: 18px;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.btnfield .disable{
    background: rgba(183, 183, 183, 0.852);
    color: rgb(0, 0, 0);
}
